.allNames{
    display: flex;
    align-content: stretch; 
    justify-content: first baseline;
    
}

.femaleNames{
    background-color: aquamarine;
    display: flex;
}

.maleNames{
    background-color: blueviolet;
}