p {
    /* white-space: normal;
    display: inline-block; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: auto;
    align-content: start
  }
  
  /* .allNames {
    display: flex;
    align-content: stretch;
    justify-content: first baseline;
  } */
  
  .femaleNames {
    background-color: aquamarine;
  }
  
  .maleNames {
    background-color: blueviolet;
  }
  